<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <title>Hangman</title>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark">
  <span class="navbar-brand mb-0 h1">
    <img src="{{ url_for('static', filename='img/hangman-5.svg') }}"
         width="30" height="30" class="d-inline-block align-top" alt="">
    Hangman
  </span>
</nav>
<main role="main">
  <div class="container">
    <div class="row">
      {# Either game description or game depending on state. #}
      <div class="col-md-8">
        <h2>Hangman Game</h2>
        {% if not data.game %}
          <p>Here we have a Hangman game! Unknown phrases are given which
             must then be solved letter by letter. The game ends if too many
             incorrect guesses are made. In this version of the game it only
             takes 5 incorrect guesses to lose the game. Dare to try? Click
             'Play the game!' below to start. :D</p>
          <form method="post">
            <input type="submit" name="play" value="Play the game!" autofocus>
          </form>

        {% else %}
          {# TODO: Improve alt text. #}
          <img class="hanged-man"
               src="/static/img/hangman-{{ data.game.tries }}.svg"
               alt="{{ data.game.tries }} tries used!">

          <div class="letters">
            {% for letter in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789' %}
              {% if letter.lower() in data.game.guesses %}
                <span class="letter guessed">{{ letter }}</span>
              {% else %}
                <span class="letter">{{ letter }}</span>
              {% endif %}
            {% endfor %}
          </div>

          <div class="phrase">{{ data.game.phrase }}</div>

          {# Don't allow guesses if the game is over. #}
          {% if not data.game.game_over %}
            <form method="post">
              <input {% if data.game.invalid_guess %}class="is-invalid"{% endif %}
                     type="text" name="guess-text" placeholder="Guessed Letter" autofocus>
              <input type="submit" name="guess" value="Guess!">
              <input type="submit" name="exit" value="Exit">
              {% if data.game.invalid_guess %}
                <div class="invalid-feedback">Invalid guess, please try again!</div>
              {% endif %}
            </form>
          {% endif %}

          {% if data.game.game_over %}
            {% if data.game.game_won %}
              {# input to high scores #}
              <div>Congratulations, you've won!</div>
              <form method="post">
                {# Match user name length w/ database string size. #}
                <input type="text" name="user" maxlength="20" placeholder="User Name" autofocus>
                <input type="submit" name="high-score" value="Submit Score">
              </form>

            {% else %}
              <div>Oh no! You've lost the game :(</div>
              <form method="post">
                <input type="submit" name="exit" value="Exit" autofocus>
              </form>
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
      {# Leaderboard #}
      {% if data.leaderboard %}
      <div class="col-md-4 leaderboard">
        <h2 class="border">High Scores</h2>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">User</th>
              <th scope="col">Wrong Guesses (#)</th>
            </tr>
          </thead>
          <tbody>
          {% for user_score in data.leaderboard %}
            <tr>
              <th>{{ user_score.user }}</th>
              <th>{{ user_score.score }}</th>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      {% endif %}
    </div>
    <hr>
  </div>
</main>
<footer class="container">
  <p>© Andrew Wylie 2020</p>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
